<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.FreightHeadMapper">
  <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.FreightHead">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="bill_time" jdbcType="TIMESTAMP" property="billTime" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="carrier_id" jdbcType="BIGINT" property="carrierId" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="total_weight" jdbcType="DECIMAL" property="totalWeight" />
    <result column="total_freight" jdbcType="DECIMAL" property="totalFreight" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="delivery_status" jdbcType="VARCHAR" property="deliveryStatus" />
    <result column="payment_status" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="paid_amount" jdbcType="DECIMAL" property="paidAmount" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="payment_operator" jdbcType="BIGINT" property="paymentOperator" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bill_no, bill_time, car_no, carrier_id, unit_price, total_weight, total_freight,
    remark, status, creator, create_time, tenant_id, delete_flag, delivery_status,
    payment_status, paid_amount, payment_time, payment_operator, file_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jsh_freight_head
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jsh_freight_head
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jsh.erp.datasource.entities.FreightHead">
    insert into jsh_freight_head (id, bill_no, bill_time,
      carrier_id, unit_price, total_weight,
      total_freight, remark, status,
      creator, create_time, tenant_id, delete_flag, delivery_status)
    values (#{id,jdbcType=BIGINT}, #{billNo,jdbcType=VARCHAR}, #{billTime,jdbcType=TIMESTAMP},
      #{carrierId,jdbcType=BIGINT}, #{unitPrice,jdbcType=DECIMAL}, #{totalWeight,jdbcType=DECIMAL},
      #{totalFreight,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{creator,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{tenantId,jdbcType=BIGINT},
      #{deleteFlag,jdbcType=VARCHAR}, #{deliveryStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jsh.erp.datasource.entities.FreightHead"
          useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into jsh_freight_head
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="billTime != null">
        bill_time,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="carrierId != null">
        carrier_id,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="totalWeight != null">
        total_weight,
      </if>
      <if test="totalFreight != null">
        total_freight,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="deliveryStatus != null">
        delivery_status,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="paidAmount != null">
        paid_amount,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="paymentOperator != null">
        payment_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billTime != null">
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null">
        #{carrierId,jdbcType=BIGINT},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalWeight != null">
        #{totalWeight,jdbcType=DECIMAL},
      </if>
      <if test="totalFreight != null">
        #{totalFreight,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliveryStatus != null">
        #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paidAmount != null">
        #{paidAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentOperator != null">
        #{paymentOperator,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsh.erp.datasource.entities.FreightHead">
    update jsh_freight_head
    <set>
      <if test="billNo != null">
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billTime != null">
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null">
        carrier_id = #{carrierId,jdbcType=BIGINT},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalWeight != null">
        total_weight = #{totalWeight,jdbcType=DECIMAL},
      </if>
      <if test="totalFreight != null">
        total_freight = #{totalFreight,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliveryStatus != null">
        delivery_status = #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paidAmount != null">
        paid_amount = #{paidAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentOperator != null">
        payment_operator = #{paymentOperator,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsh.erp.datasource.entities.FreightHead">
    update jsh_freight_head
    set bill_no = #{billNo,jdbcType=VARCHAR},
      bill_time = #{billTime,jdbcType=TIMESTAMP},
      car_no = #{carNo,jdbcType=VARCHAR},
      carrier_id = #{carrierId,jdbcType=BIGINT},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      total_weight = #{totalWeight,jdbcType=DECIMAL},
      total_freight = #{totalFreight,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      delivery_status = #{deliveryStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
